/*
Theme "Softie blue"
Designed by nitodico 30 august 2013
Website: www.nitodico.com
Twitter: @nitodico
Email: hello@nitodico.com

based on the default phpLiteAdmin theme
Created by Dane Iracleous
*/

/* overall styles for entire page */

@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);

* {
	font-family: 'Roboto', sans-serif;
}

.sidebar_table {
	font-size: 0.75em;
	color: grey;
}

.viewTable {
	border-collapse: collapse;
}

legend {
	font-variant: small-caps;
}

#main_column,
.left_td {
	background-color: #8AC5FC;
}


body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #e0ebf6;
}

/* general styles for hyperlink */
a {
	color: rgb(0, 128, 255);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #06F;
	text-decoration: underline;
}

/* horizontal rule */
hr {
	height: 1px;
	border: 0;
	color: #bbb;
	background-color: #bbb;
	width: 100%;
}

/* logo text containing name of project */
h1 {
	margin: 0px;
	padding: 5px;
	font-size: 24px;
	background-color: #f3cece;
	text-align: center;
	margin-bottom: 10px;
	color: #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

/* version text within the logo */
h1 #version {
	color: #000000;
	font-size: 0.75em;

	/*nitodico*/
}

/* logo text within logo */
h1 #logo {
	color: rgb(0, 128, 255);
	font-size: 1.25em;
	font-variant: small-caps;

	/*nitodico*/
}

/* general header for various views */
h2 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	margin-bottom: 20px;
}

/* input buttons and areas for entering text */
input,
select,
textarea {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	color: rgb(0, 128, 255);
	border-color: rgb(0, 128, 255);
	border-style: solid;
	border-width: 1px;
	margin: 5px;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	padding: 0.25em;
}

/* just input buttons */
input.btn {
	cursor: pointer;
}

input.btn:hover {
	background-color: #ccc;
}

/* general styles for hyperlink */
fieldset {
	padding: 15px;
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #f9f9f9;
}

/* outer div that holds everything */
#container {
	padding: 10px;
}

/* div of left box with log, list of databases, etc. */
#leftNav {
	float: left;
	width: 100%;
	padding: 0px;
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	background-color: white;
	padding-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#leftNav h1 {
	background-image: url("");
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	height: 5em;
	background-size: 100% 50%;
}

/* div holding the content to the right of the leftNav */
#content {
	overflow: hidden;
	padding-left: 10px;
}

/* div holding the login fields */
#loginBox {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* div under tabs with tab-specific content */
#main {
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	padding: 15px;
	overflow: auto;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
}

/* odd-numbered table rows */
.td1,
.td2 {
	border-bottom: 1px solid grey;
	padding: 0.5em;
}

.td1 {
	text-align: right;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

/* even-numbered table rows */
.td2 {
	text-align: right;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}

/* table column headers */
.tdheader {
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
	font-size: 1.15em;
	padding: 0.25em 1em 0.25em 1em;
	background-color: #e0ebf6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-variant: small-caps;
}

/* div holding the confirmation text of certain actions */
.confirm {
	border: 1px solid black;
	padding: 1em;
	background-color: rgb(192, 255, 192);
	border-radius: 0.5em;
	padding-left: 5em;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIjSURBVFiFzZexS1tRFMZ/71WJlAhFhSadnAwiLt2V0kUcSujkKk7d3TNl0X8gf0UVcW+hRcjiYJc4VqSVDl0MGepyHN45vGOIefemxOeBA3k39/u+896959xzExEhxJIkqQDvgSawCtTVAW7Ue8AJ8EVE/gURi8hYV5EOcAtIoN8qpl7IP0Z4DmgDA0d8DrSAd8AKUFVf0bGWzrH5A+WYiwoAqAFdR3QENIrexuEbijF8F6gFBQCsA9cK/AlshAqP4NpQDlHO9bEB6Jub+FdgaVJxx7mkXBZEbWQAuuZdJz4bQP4aWAuYN+uC6Po94Se13WcvfHPgA3CnmIPAL2HL0X4QgKaa7fagNQc+u032I2JPWHbURYSUzFrAS+BYRL4TZhfu91kIQLmPVatl4xXyIhOTavPAJ2AfeBWBa5AXqwrAtg6c/++OjwjCitX2DFlth6yGF1qSJIvAIVnWmP8Rkb0QvNN6CzRnyA4WgG+B4HlgWOwyQtxrrabkJ9rvQPAv4CNwGinqzbTqAH2y9ahGruMueRr2IrFVxfVTSraUrJEAePOEuqZ18ywC6OnD5hMGYFq9lDz/m49MnoY9qD3RpRh4QVbLLQuugIWJSrEOdnTwKICgBvx14uZ3wFYA3lq1zkTHMbA8Qtx8J/Y49n9GNSQTHECPNyQ6IbolixAvbsnc+pbTlDpAeW350Jco52IytCfKuZoNBTLVy2miIoU2rev5Pfa5pua4kfeiAAAAAElFTkSuQmCC);
	background-position: 1em 50%;
	background-repeat: no-repeat;
}

/* tab navigation for each table */
.tab {
	font-variant: small-caps;
	display: block;
	padding: 5px;
	padding-right: 8px;
	padding-left: 8px;
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	margin-right: 5px;
	float: left;
	border-bottom-style: none;
	position: relative;
	top: 1px;
	padding-bottom: 4px;
	background-color: #eaeaea;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

/* pressed state of tab */
.tab_pressed {
	font-variant: small-caps;
	display: block;
	padding: 5px;
	padding-right: 8px;
	padding-left: 8px;
	border-color: rgb(0, 128, 255);
	border-width: 1px;
	border-style: solid;
	margin-right: 5px;
	float: left;
	border-bottom-style: none;
	position: relative;
	top: 1px;
	background-color: #FFF;
	cursor: default;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

/* tooltip styles */
#tt {
	position: absolute;
	display: block;
}

#tttop {
	display: block;
	height: 5px;
	margin-left: 5px;
	overflow: hidden
}

#ttcont {
	display: block;
	padding: 2px 12px 3px 7px;
	margin-left: 5px;
	background: #f3cece;
	color: #333
}

#ttbot {
	display: block;
	height: 5px;
	margin-left: 5px;
	overflow: hidden
}